#divshopdcart {

}

.shopcart {

}

.shopcart:hover {
    display: inline-block;
}

.divcart {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 210, 76, 0.9);
    padding: 10px 25px 5px 25px;
}

